##
# MooBench configuration parameter

source ${MAIN_DIR}/config.rc

VENV_DIR="$BASE_DIR/venv"
REQUIREMENTS_FILE="$BASE_DIR/requirements.txt"
CONFIG_TEMPLATE="$BASE_DIR/config.ini.template"
CONFIG_FILE="$BASE_DIR/config.ini"

MOOBENCH_BIN_PY="$MAIN_DIR/tools/SuT-python/benchmark.py"

