# inspectIT configurations

export INSPECTIT_VERSION="2.7.0"

source ${MAIN_DIR}/config.rc

#MORE_PARAMS="--quickstart"
MORE_PARAMS="--application moobench.application.MonitoredClassSimple ${MORE_PARAMS}"
