##
# MooBench configuration parameter

source ${MAIN_DIR}/config.rc

DATA_DIR="${BASE_DIR}/data"
AGENT_JAR="${BASE_DIR}/kieker-agent.jar"

#MORE_PARAMS="--quickstart"
MORE_PARAMS="--application moobench.application.MonitoredClassSimple ${MORE_PARAMS}"
