##
# MooBench configuration parameter

source ${MAIN_DIR}/config.rc

export PINPOINT_VERSION=3.0.3
AGENT_JAR="${BASE_DIR}/pinpoint/pinpoint-agent-${PINPOINT_VERSION}/pinpoint-bootstrap-${PINPOINT_VERSION}.jar"

#MORE_PARAMS="--quickstart"
MORE_PARAMS="--application moobench.application.MonitoredClassSimple ${MORE_PARAMS}"
